.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 91px;
  width: 100%;
  background-color: var(--menu-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header img {
  margin-left: 30px;
}

.header nav {
  width: 100%;
}

.header ul {
  color: white;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 90px;
}

main {
  display: flex;
}

.navLeft {
  min-width: 117px;
  background-color: var(--menu-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: white;
  position: relative;
  padding-top: 150px;
  height: 630px;
}

.navLeft p {
  transform: rotate(-90deg);
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  width: 140px;
  margin-bottom: 60px;
  margin-top: 164px;
}

.navLeft img {
  width: 64px;
  height: 64px;
}

.Dashboard {
  padding-left: min(100px, 4%);
  padding-right: min(90px, 4%);
  padding-top: min(70px, 4%);
  width: 100%;
}

.greeting {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.congratulation {
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}